//- doctype
//- html
//-   head
//-     title API REST - Carwash
//-   body(style="color: white; background-color: #111827;")
//-     h1 Express Server + MongoDB running...


doctype html
html
  head
    meta(charset='utf-8')
    title Página de Bienvenida
    style.
      body {
        background-color: #f2f2f2;
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 100px;
      }

      h1 {
        color: #333;
      }

      .container {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: inline-block;
      }

  body
    .container
      h1 API REST - Carwash
      p
        | Express Server + MongoDB is running...

